@page "/login"
@using BlazorFrontend.DTO.Login
@using BlazorFrontend.Services
@inject AuthService Auth
@inject NavigationManager Nav

<h3>Вхід</h3>

<input @bind="Username" placeholder="Ім'я користувача" />
<input @bind="Password" placeholder="Пароль" type="password" />
<button @onclick="PerformLogin">Увійти</button>

@if (!string.IsNullOrEmpty(Message))
{
    <p style="color:red">@Message</p>
}

@code {
    string Username = "";
    string Password = "";
    string Message = "";

    async Task PerformLogin()
    {
        var success = await Auth.LoginAsync(new LoginDto
            {
                Username = Username,
                Password = Password
            });

        if (success)
            Nav.NavigateTo("/");
        else
            Message = "Помилка авторизації!";
    }
}
