@page "/login"
@using BlazorFrontend.DTO.Login
@using BlazorFrontend.Services.Interfaces
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

@using Microsoft.AspNetCore.Components.Authorization
@using BlazorFrontend.Services.Auth



@rendermode InteractiveServer

<div class="d-flex justify-content-center align-items-start mt-5">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="mb-4 fw-bold text-center">Вхід</h3>

        <EditForm Model="loginModel" OnValidSubmit="LoginUser">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger mb-3" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="loginModel.Username" id="username" class="form-control" placeholder="Ім'я користувача" />
                <label for="username">Ім'я користувача</label>
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="loginModel.Password" type="password" id="password" class="form-control" placeholder="Пароль" />
                <label for="password">Пароль</label>
            </div>

            <button class="btn btn-primary w-100 py-2">Увійти</button>

            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-danger mt-3 mb-0" role="alert">
                    @message
                </div>
            }
        </EditForm>
    </div>
</div>


@code {
    private LoginDto loginModel = new();
    private string message = "";

    private async Task LoginUser()
    {
        var result = await AuthService.LoginAsync(loginModel);
        if (result != null)
        {
            await LocalStorage.SetItemAsStringAsync("authToken", result.Token);

            // Оновлення стану авторизації
            if (AuthStateProvider is CustomAuthStateProvider customAuth)
            {
                await customAuth.NotifyUserAuthentication(result.Token);
            }

            NavigationManager.NavigateTo("/profile");
        }
        else
        {
            message = "Невірне ім'я користувача або пароль";
        }
    }

}
