@page "/register"
@using BlazorFrontend.DTO.Register
@using BlazorFrontend.Services.Interfaces
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<div class="d-flex justify-content-center align-items-start mt-5">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="mb-4 fw-bold text-center">Реєстрація</h3>

        <EditForm Model="registerModel" OnValidSubmit="RegisterUser">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger mb-3" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="registerModel.Email" id="email" class="form-control" placeholder="Email" />
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="registerModel.Username" id="username" class="form-control" placeholder="Ім'я користувача" />
                <label for="username">Ім'я користувача</label>
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="registerModel.Password" type="password" id="password" class="form-control" placeholder="Пароль" />
                <label for="password">Пароль</label>
            </div>

            <button class="btn btn-primary w-100 py-2 mb-3">Зареєструватися</button>

            <div class="text-center">
                <small>Вже зареєстровані? <a href="/login">Авторизуватись</a></small>
            </div>

            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-danger mt-3 mb-0" role="alert">
                    @message
                </div>
            }
        </EditForm>
    </div>
</div>


@code {
    private RegisterDto registerModel = new();
    private string message = "";

    private async Task RegisterUser()
    {
        var success = await AuthService.RegisterAsync(registerModel);
        if (success)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            message = "Не вдалося зареєструватися";
        }
    }
}
