<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorFrontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
       

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/posts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Posts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/friends">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Friends
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/events">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <!--<NavLink href="/friends">Friends</NavLink>
        <NavLink href="/register">Register</NavLink>
        <NavLink href="/login">Login</NavLink> 
        <NavLink href="/posts">Posts</NavLink> /events-->

    </nav>
</div>

